<%- include('header.ejs') %>

<main>

    <div>
        <img  class="about-content-bg" src="../images/abstract1.png" alt="">
    </div>
    <div class="about-content">
        <h1>The Vision...</h1>
        <p class="about"><%= aboutPara %></p>    
    </div>

</main>

<%- include('footer.ejs') %>