<%- include('header.ejs') %>

<main>

    <h1 class="composeTitle">How's Your Day...</h1>

    <div class="quotes">
        <img class="quote4" src="../images/quote4.png" alt="quote4">
        <img class="quote5" src="../images/quote5.png" alt="quote5">
        <img class="quote2" src="../images/quote2.png" alt="quote2">
    </div>

    <div class="inputs">
        <form action="/" method="post">
            <input class="titleInput" type="text" name="todayTitle" placeholder="Title"  autocomplete="off">
            <textarea class="postInput"  name="todayContent" placeholder="What's In Your Mind..."  autocomplete="off"></textarea>
            <button class="postButton" type="submit">Post</button>
        </form>   
    </div>

</main>

<%- include('footer.ejs') %>