<%- include('header.ejs') %>

<main>

    <div>
        <img  class="contact-content-bg" src="../images/abstract1.png" alt="">
    </div>
    <div class="contact-content">
        <h1>Contact page</h1>
        <p class="contact"><%= contactPara %></p>    
    </div>
   
</main>

<%- include('footer.ejs') %>

    