<%- include('header.ejs') %>

<main>

    <div>
        <img  class="contact-content-bg" src="../images/abstract3.png" alt="">
    </div>
    <div class="contact-content">
        <h1>Reach Me!</h1>
        <p class="contact">Email:dvakashmitu21@gmail.com</p>    
        <p class="contact">LinkedIn: <a href="https://www.linkedin.com/in/d-v-akash">https://www.linkedin.com/in/d-v-akash</a></p>    
        <p class="contact">Github: <a href="https://github.com/D-V-AKASH">https://github.com/D-V-AKASH</a></p>    
    </div>
   
</main>

<%- include('footer.ejs') %>

