
<div class="footer-container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-0">
        <span class="mb-0 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </footer>
</div>