@font-face {
    font-family: reality scene, 'Times New Roman', Times, serif;
    src: url('./fonts/reality_scene/Reality\ Scene.otf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: architect;
    src: url('./fonts/architect_daughter/ArchitectsDaughter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    position: relative;
    background-color: #fadcbc;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/finalBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    z-index: -1; 
}

.home-content{
    font-family: 'architect';
    font-size: 14px;
    font-weight: 200;
    width: 700px;
    height: 253px;
    margin: 10px;
    padding:1px;
}

.home-content-bg{
    width: 831px;
    height: 563px;
    position: absolute;
    top: 50px;
    left: -40px;
    z-index: -1;
}

.home-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.click{
    width: 150px;
    height: 150px;
}

.composeButton{
   
    position: relative;
    top: 5px;
    right: 120px;
    width: 150px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}

.composeButton a {
    font-family: 'architect';
    text-decoration: none;
    color: #916643;
}

.composeButton::before{
    content: "";
    position: absolute;
    top: -60px;
    right: 0px;
    background-image: url('./images/paint\ stroke1.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170px 60px; 
    width: 160px;
    height: 150px;
    z-index: -1;
}

.contact-content{
    font-family: 'architect';
    font-size: 14px;
    width: 741px;
    height: 223px;
    margin: 20px;
    padding:25px;
}

.contact-content-bg{
    width: 891px;
    height: 743px;
    position: absolute;
    top: -10px;
    left: -90px;
    z-index: -1;
}

.about-content{
    font-family: 'architect';
    font-size: 30px;
    width: 690px;
    height: 250px;
    margin: 20px;
    padding:25px;
}

.about-content-bg{
    width: 860px;
    height: 700px;
    position: absolute;
    top: 10px;
    left: -65px;
    z-index: -1;
}

.new-posts{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 40px 0;
    min-height: 100vh;
}

.main-title{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.main-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 100%;  
    height: 100px;
}

.header-div{
    
    margin: 20px 20px;
    border-radius: 20px;
    background-image: url('./images/headerBg.png');
    background-position: center;
    background-size: 1500px 200px;
    background-repeat: no-repeat;
}

.nav-link{
    font-family: 'architect';
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link:hover{
    transform: scale(1.1);
    color: rgb(178, 151, 116);
}

.each-post{
    font-family: 'architect';
    font-size: 14px;
    font-weight: 200;
    margin: 20px 10px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: rgba(218, 181, 148, 0.6); 
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    line-height: 1.6; 
}

.home-para,.about,.contact{
    display: flex;
    max-width: 800px;
    font-size: 16px;
    margin-top: 20px;
}

.h2-home{
    text-transform: capitalize;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.composeTitle{
    font-family: 'architect';
    font-size: 32px;
}

.titleInput{
    border-radius: 10px;
    height: 60px;
    width: 50%;
    border: none;
    padding: 20px;
    background-color: rgb(235, 225, 216);
}

.titleInput::placeholder{
    font-family: 'architect';
    font-size: 14px;
    color: rgb(25, 23, 23);
}

.postInput{
    border-radius: 10px;
    width: 80%;
    height: 150px;
    border: none;
    padding: 20px;
    background-color: rgb(235, 225, 216);;
    
}

.postInput::placeholder{
    font-family: 'architect';
    font-size: 14px;
    color: rgb(25, 23, 23);
}

.postButton{
    font-family: 'architect';
    font-size: 18px;
    position: relative;
    top: 10px;
    left: 40px;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: none;
}

.postButton::before{
    content: "";
    width: 170px;
    height: 150px;
    background-image: url('./images/paint\ stroke2.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px 60px; 
    position: absolute;
    top: -50px;
    left: -40px;
    z-index: -1;
}

.postHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}

.previousButton,.nextButton{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #e2ccbf;
}

.postTitle{
    font-family: 'reality scene';
    font-size: 55px;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 20px;
}

.postContent{
    font-family: 'reality scene';
    font-size: 35px;
    font-weight: 500;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    width: 700px;
    background-color: papayawhip;
}

.previousForm{
    margin-right: 20px;
}

.nextForm{
    margin-left: 20px;
}

.postContent p{
   line-height: 50px;
}

.postPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote4{
    position: absolute;
    top: 310px;
    left: 650px;
    width: 350px;
    height: 350px;
    z-index: -1;
}

.quote5{
    position: absolute;
    top: 180px;
    left: 370px;
    width: 150px;
    height: 70px;
}

.quote2{
    position: absolute;
    top: 230px;
    right: 230px;
    width: 250px;
    height: 100px;
}

footer{
    border-top: 1px solid grey;
    margin-top: auto;
    background-color: #e6c7a2;
    height: 50px;
}

@media only screen and (max-width: 767px) {

    body{
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
        background-image: url('./images/media-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
        z-index: -1;     
    }

    .main-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .home-content-bg{
        width: 523px;
        height: 433px;
        position: absolute;
        top: 200px;
        left: -40px;
        z-index: -1;
    }

    .home-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-content{
        font-family: 'architect';
        font-size: 14px;
        font-weight: 200;
        width: 95%;
        height: fit-content;
        margin: 10px;
    }

    .contact-content{
        font-family: 'architect';
        font-size: 14px;
        width: 430px;
        margin: 20px;
        padding:15px;
    }
    
    .contact-content p, .about-content p{
        margin-top: 30px;
    }

    .contact-content-bg{
        width: 540px;
        height: 480px;
        position: absolute;
        top: 120px;
        left: -60px;
        z-index: -1;
    }
    
    .about-content{
        font-family: 'architect';
        font-size: 14px;
        width: 430px;
        margin: 20px;
        padding:15px;
    }
    
    .about-content-bg{
        width: 500px;
        height: 683px;
        position: absolute;
        top: 130px;
        left: -45px;
        z-index: -1;
    }

    .home-para{
        margin-top:  20px;
        margin-bottom: 30px;
        max-height: fit-content;
        overflow: hidden;   
    }
    
    .click{
        position: relative;
        width: 150px;
        height: 150px;
        top: 20px;
        right: 10px;
    }
    
    .composeButton{
        background: none;
        position: relative;
        top: -65px;
        right: -10px;
        border: none;
        border-radius: 10px;
        margin-right: 20px;
        height: 10px;
    }

    .composeButton::before{
        content: "";
        position: absolute;
        top: -50px;
        right: 0px;
        width: 150px;
        height: 130px;
        background-image: url('./images/paint\ stroke1.png'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130px 55px; 
        z-index: -1;
    }
   
   .postInput{
        border-radius: 10px;
        width: 90%;
        height: 150px;
        border: none;
        padding: 20px;
        background-color: rgb(235, 225, 216);;
   }  

   .titleInput{
        border-radius: 10px;
        height: 60px;
        width: 70%;
        border: none;
        padding: 20px;
        background-color: rgb(235, 225, 216);

    }

    .quote2{
        position: relative;
        top: 300px;
        left: 50px;
    }

    .quote4{
       display: none;
    }

    .quote5{
        position: relative;
        top: 30px;
        left: 250px;
    }
        
    .composeTitle{
        margin-top: 70px;

    }

    .new-posts{
        margin-top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .postTitle{
        font-family: 'reality scene';
        font-size: 35px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 0px;
        margin-left: 30px;
       
    }
    
    .postContent{
        font-family: 'reality scene';
        font-size: 35px;
        font-weight: 500;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
        width: 80%;
        background-color: papayawhip;
        line-height: 40px;
    }

    .postHeader{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 430px;
        margin-top: 40px;
    }

    .previousForm{
        margin-right: 20px;
    }


}


 @media screen and (min-width:768px) and (max-width:1073px) {

    body{
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./images/finalBg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
        z-index: -1; 
    }

    .main-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .home-content{
        font-family: 'architect';
        font-size: 14px;
        font-weight: 200;
        width: 550px;
        height: 188px;
        margin: 10px;
        margin-right: 0px;
        margin-bottom: 70px;
        padding:1px;
    }

    .home-content-bg{
        width: 790px;
        height: 520px;
        position: absolute;
        top: 70px;
        left: -40px;
        z-index: -1;
    }

    .contact-content{
        font-family: 'architect';
        font-size: 14px;
        width: 600px;
        height: 223px;
        margin: 20px;
        padding:25px;
    }

    .contact-content-bg{
        width: 790px;
        height: 563px;
        position: absolute;
        top: 60px;
        left: -40px;
        z-index: -1;
    }

    .about-content{
        font-family: 'architect';
        font-size: 14px;
        width: 600px;
        height: 250px;
        margin: 20px;
        padding:25px;
    }

    .about-content-bg{
        width: 790px;
        height: 563px;
        position: absolute;
        top: 60px;
        left: -40px;
        z-index: -1;
    }

    .main-title{
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .home-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .click {
        width: 150px;      
        height: 150px;
        position: relative;
        right: 20px;
    }

    .composeButton {
        position: relative;
        margin-top: 20px;
        margin-right: 0px;  
        right: 0px;  
        top: -105px;        
        width: 150px;
        height: 30px;
        background: none;
        border: none;
    }

    .composeButton::before{
        content: "";
        position: absolute;
        top: -55px;
        right: 6px;
        width: 150px;
        height: 130px;
        background-image: url('./images/paint\ stroke1.png'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px 60px; 
        z-index: -1;
    }
    
    .postHeader{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 700px;
    }

    .previousForm{
        margin-right: 30px;
    }

    .quote4{
        position: absolute;
        top: 310px;
        left: 350px;
        width: 350px;
        height: 350px;
        z-index: -1;
    }
    
    .quote5{
        position: absolute;
        top: 180px;
        left: 350px;
        width: 150px;
        height: 70px;
    }
    
    .quote2{
        position: absolute;
        top: 230px;
        right: 50px;
        width: 250px;
        height: 100px;
    }

    .postInput{
        border-radius: 10px;
        width: 90%;
        height: 150px;
        border: none;
        padding: 20px;
        background-color: rgb(235, 225, 216);;  
    }   
} 
