body{
    background-color: #cfb08f;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 40px 0;
    min-height: 100vh;
}
.header{

    background-color: rgb(233, 233, 233);
    width: 100%;
    border-radius: 10px;
    background-color: #E5D3B3;
}

.header-div{
    margin: 10px;
}

.header-div .header{
    padding-right: 20px;
}

.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link:hover{
    transform: scale(1.1);
    color: rgb(178, 151, 116);
}

.footer-container{
    border-top: 1px solid grey;
    margin-top: auto;
}

.home-para{
    display: flex;
    min-width: 500px;
    max-width: 1000px;
    
}

.composeButton{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    background-color: #664229;
    margin-right: 20px;
}

.composeButton:hover{
    transform: scale(1.1);
}

.composeButton a {
    text-decoration: none;
    color: #E5D3B3;
}

.home-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.h2-home,.postTitle{
    text-transform: capitalize;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.titleInput{
    border-radius: 10px;
    height: 60px;
    border: 1px solid black;
    padding: 20px;
}

.postInput{
    border-radius: 10px;
    height: 110px;
    border: 1px solid black;
    padding: 20px;
}

.postButton{
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(237, 237, 237);
}

.noData{
    display: flex;
    justify-content: center;
    align-items: center;
}

.postHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.noDataHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.previousButton{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: rgba(92, 74, 62, 0.667);
}

.nextButton{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: rgba(92, 74, 62, 0.667);
}

.previousStatus{
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 20px;
    border-radius: 100px;
    background-color: rgba(92, 74, 62, 0.667);
}

.nextStatus{
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 20px;
    border-radius: 100px;
    background-color: rgba(92, 74, 62, 0.667);
}

.postContent{
    margin: 30px;
    font-size: 1.2rem;
}

